/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

@font-face {
  font-family: 'Press Start 2P';
  src: url('../assets/fonts/PressStart2P-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
}

ion-text {
  font-family: 'Press Start 2P';
}

ion-text h1 {
  text-align: center;
  font-size: 36;
}

ion-card {
  border-radius: 25px;
}

ion-card-content {
  color: #000000;
}

.dados {
  text-align: left;
  margin: 5%;
  font-family: Roboto;
}

.dados p {
  line-height: 2;
  font-size: larger;
  font-weight: bold;
}

.info {
  color: rgb(59, 59, 59);
  text-align: center;
}

.textos p {
  text-align: justify;
}

.textos h4 {
  font-style: oblique;
  margin-left: 1%;
  margin-bottom: 5%;
}

.textos h2 {
  font-weight: bold;
  font-size: large;
}

.referencias {
  text-align: left;
}

.referencias p {
  width: 100%;
}

.nav-bottom, .nav-bottom>* {
  background-color: #4B4BD1;
  color: #191935;
}

.tab-selected {
  color: #dedede;
}

/** Ionic CSS Variables **/

:root {
  /** primary **/
  --ion-color-primary: #7795F4;
  --ion-color-primary-rgb: 119, 149, 244;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #bdc3d6;
  --ion-color-primary-tint: #89a2f3;
  /** secondary **/
  --ion-color-secondary: #4B4BD1;
  --ion-color-secondary-rgb: 75, 75, 209;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #3a3ad3;
  --ion-color-secondary-tint: #5b5bcf;
  /** tertiary **/
  --ion-color-tertiary: #323289;
  --ion-color-tertiary-rgb: 50, 50, 137;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #28288a;
  --ion-color-tertiary-tint: #3d3d8f;
  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  /** danger **/
  --ion-color-danger: #E00000;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #a00404;
  --ion-color-danger-tint: #e91f1f;
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}